---
pagination:
    data: possums
    size: 2
    alias: possum
# permalink: "possums/{{ possum.name | slug }}/"
---
<ol>
{%- for p in pagination.possums %}
  <li>{{ p.name }} is {{ p.age }} years old</li>
{% endfor -%}
</ol>
