---
title: W3 School filter/sort table
data:
  - ["Alfreds Futterkiste", "Germany"]
  - ["Berglunds snabbkop", 	"Sweden"]
  - ["Island Trading", 	"UK"]
  - ["Koniglich Essen", 	"Germany"]
  - ["Laughing Bacchus Winecellars", 	"Canada"]
  - ["Magazzini Alimentari Riuniti", 	"Italy"]
  - ["North/South", 	"UK"]
  - ["Paris specialites", "France"]
---

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">

<table id="myTable">
  <tr class="header">
    <th style="width:60%;">Name</th>
    <th style="width:40%;">Country</th>
  </tr>
  {% for rec in data %}
  <tr>
    {% for i in rec %}
       <td>{{ i }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
  </table> 

<script>
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
