---
title: W3 School filter/sort table
data:
  - ["Alfreds Futterkiste", "Germany"]
  - ["Berglunds snabbkop", 	"Sweden"]
  - ["Island Trading", 	"UK"]
  - ["Koniglich Essen", 	"Germany"]
  - ["Laughing Bacchus Winecellars", 	"Canada"]
  - ["Magazzini Alimentari Riuniti", 	"Italy"]
  - ["North/South", 	"UK"]
  - ["Paris specialites", "France"]
---

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">

<table id="myTable">
  <tr class="header">
    <th style="width:60%;">Name</th>
    <th style="width:40%;">Country</th>
  </tr>
  {% for rec in data %}
  <tr>
    {% for i in rec %}
       <td>{{ i }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
  </table> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
