<!-- test.njk -->
---
title: 我的網頁  
date: 2021-03-10
array:
  - - 1
    - 2
    - 3
  - - 4
    - 5
    - 6
---
<html lang="zh-TW">
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    {% set greeting = 'hello' %}
    
    Yay, {{ greeting | upper }} world!
    
  </body>
</html>
