<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ title }}</title>
<style>

body {
  font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
  display: inline-grid;
  grid-column-gap: 80px;
}

.flip-card {
  background-color: transparent;
  width: 550px;
  height: 300px;
  perspective: 1000px;
  
}

.flip-card-inner {
  position: relative;
  width: 90%;
  height: 90%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 80%;
  height: 90%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

.card {  
  background-color: transparent;
  width: 550px;
  height: 300px;
  perspective: 1000px;
  
}
</style>
</head>
<body>

<h1>Cards</h1>

{{ layoutContent | safe }} 

</body>
</html>
